/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color: #d6e0e6;
  --text-color: #000000;
  --primary-color: #3f51b5;
  --card-bg: #fdfdfd;
  --buttons-color: #dadee2;
  --primary-buttons:#1a73e8;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  overflow: hidden; 
}

body.dark-mode {
  --bg-color: #3d3b3b;
  --text-color: #080808;
  --primary-color: #bb86fc;
  --card-bg: #bcbdae;
  --buttons-color: #a09b9b;
  --placeholder-color: #b0a9a9;
  --scroll-color:white;
  --suggestion-box-color: #968e8e;
  --primary-buttons:#4b6383;
  --selected-row-color: #a19b9b;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; 
}
.app-notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: white;
  padding: 14px 22px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  font-size: 15px;
  z-index: 1000;
  animation: fadeInOut 4s ease forwards;
  max-width: 300px;
  font-weight: 500;
}


.app-notification.success {
  background-color: #2e7d32; 
}


.app-notification.error {
  background-color: #d32f2f; 
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}
@media (max-width: 768px) {
  .app-notification {
    top: 20px !important;
    bottom: auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    max-width: 90vw !important;
    text-align: center !important;
    width: max-content !important;
  }
}

