.log-item {
    border: 1px solid var(--table-border-color);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.log-details h2 {
    margin: 0 0 8px 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.log-details p {
    margin: 0;
    color: var(--placeholder-color);
    font-size: 14px;
}
.download-btn {
    background-color: var(--primary-buttons);
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.download-btn:hover {
    background-color: #185abc;
}
@media (max-width: 768px) {

  .container {
    padding: 20px;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    box-shadow: none;
    height: 100%;
    margin: 0;
    height: 100%;
  }
  :host {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%;
  }
  .header{
    display: flex;
    flex-direction:row ;
    padding-right: 50px;
  }
  .header h1{
    font-size: 16px;
  }
  .admin-nav {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
  }

  .admin-nav::-webkit-scrollbar {
    height: 6px;
  }

  .admin-nav::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  .admin-nav::-webkit-scrollbar-thumb:hover {
    background: #999;
  }

  .nav-tab {
    display: inline-block;
    white-space: nowrap;
    flex: 0 0 auto;
    margin-right: 6px;
  }
  .content-wrapper {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    padding-top: 0; 
  }
}