.approve-btn {
  background-color: #e6f4ea;
  color: #1e8e3e;
}

.approve-btn:hover {
  background-color: #c6e6d4;
}

.deny-btn {
  background-color: var(--delete-button-bg);
  color: var(--delete-button-text);
  margin-left: 5px;
}

.deny-btn:hover {
  background-color: #901616;
}

@media(max-width: 768px){
    .container {
        padding: 20px;
        border-radius: 0;
        max-width: 100%;
        width: 100%;
        box-shadow: none;
        height: 100%;
        margin: 0;
        height: 100%;
    }
    :host {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        height: 100%;
    }
    .header{
      display: flex;
      flex-direction:row ;
      padding-right: 50px;
    }
    .header h1{
      font-size: 16px;
    }
    .content-wrapper{
        height: 100%;
    }
    .admin-nav {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: thin;
      scrollbar-color: #ccc transparent;
    }

    .admin-nav::-webkit-scrollbar {
      height: 6px;
    }

    .admin-nav::-webkit-scrollbar-thumb {
      background: var(--scroll-color);
      border-radius: 4px;
    }

    .admin-nav::-webkit-scrollbar-thumb:hover {
      background: #999;
    }

    .nav-tab {
      display: inline-block;
      white-space: nowrap;
      flex: 0 0 auto;
      margin-right: 6px;
    }
}